.same-size {
    width: 100%; /* Ajusta al ancho del contenedor */
    height: 85; /* Ajusta la altura */
    object-fit: cover; /* Aplica a imágenes si se usa */
    border-radius: 5px; /* Redondea bordes */
}
.brand-img {
    width: 100px; /* Ajusta el tamaño deseado */
    height: 100px;
    object-fit: contain; /* Ajusta la imagen sin distorsionarla */
}